*~
INSTALL
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
stamp-h1
config.guess
config.log
config.rpath
config.status
config.sub
configure
depcomp
install-sh
missing
autom4te.cache
compile
po/POTFILES
po/*.gmo
po/stamp-po
src/*.o
src/wavbreaker
src/wavinfo
src/wavgen
src/wavmerge
src/Makefile
src/Makefile.in
src/.deps
