[Desktop Entry]
Name=Wavbreaker
GenericName=Audio File Splitter
GenericName[de]=Audio-Datei Splitter
Comment=Split .wav files into multiple chunks
Comment[de]=Teilen Sie .wav-Dateien in mehrere Teile
Exec=wavbreaker
Icon=wavbreaker
Type=Application
Categories=Application;AudioVideo;Audio;
MimeType=audio/x-wav
